{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            {% for mod in modules %}
            <small class="text-muted">{{ mod.module_title }}</small>
            {% for course in courses %}
            {% if course.teacher == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'create-task' mod.id %}" style="background-color: forestgreen; border-color: forestgreen;">Создать задачу</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update-module' mod.id %}">Редактировать модуль</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'module-delete' mod.id %}">Удалить</a>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
            {% for task in tasks %}
            <h4 class="article-title"><a href="{% url 'task-detail' task.id %}">{{ task.task_title }}</a></h4>
            <p> {{task.created_at }}</p>
            <h6 class="article-title">{{ task.task_description }}</h6>
            {% endfor %}
    </div>
</article>
{% endblock content %}