{% extends "base.html" %}
{% block content %}
<div>
    <article class="media content-section">
        <div class="media-body">
            {% if solution.student == user %}
            <div style="width: 100%;" hidden>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#" style="width: 50%;">Редактировать задачу</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="#" style="width: 49%;">Удалить задачу</a>
            </div>
            {% endif %}
            <p> </p>
            <div class="article-metadata">
                <small class="text-muted">{{ solution.solution_code }}</small>
                <h2 class="article-title">{{ solution.solution_title }}</h2>
                <p class="article-content">{{ solution.solution_description }}</p>
                <p class="article-content"> Создано: {{ solution.created_at }} </p>
                <p class="article-content"> Обновлено: {{ solution.update_at }} </p>
                {% if solution.task_file %}
                <a href="{{ task.task_file.url }}" download> Прикрепленные файлы </a>
                {% endif %}
                {% if solution.notes %}
                <p>Оценка: {{solution.notes}}</p>
                <p class="article-content">{{ solution.notation }}</p>
                <div style="width: 100%;">
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'solution-note' solution.id %}" style="width: 100%; background-color: forestgreen; border-color: forestgreen;">Оценено</a>
                </div>
                {% else %}
                    {% if user.profile.is_teacher %}
                    <div style="width: 100%;">
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'solution-note' solution.id %}" style="width: 100%; background-color: #6792b8; border: #6792b8;">Оценить</a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </article>
</div>
{% endblock content %}