{% extends "base.html" %}
{% block content %}
<div>
    {% for task in tasks %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2 class="article-title">{{ task.task_title }}</h2>
                <p class="article-content">{{ task.task_description }}</p>
                <p class="article-content"> Создано: {{task.created_at}} </p>
                <p class="article-content"> Обновлено: {{task.update_at}} </p>
                <a href="{{ task.task_file.url }}" download> Прикрепленные файлы </a>
                <div>
                    {% if task.is_completed == False %}
                    <h5 class="article-content" style="text-align: right;"> Не готово </h5>
                    {% else %}
                    <h5 class="article-content" style="text-align: right;"> Выполнено </h5>
                    {% endif %}
                </div>
            </div>
        </div>

    </article>
    <article class="media content-section">
        {% for task in tasks %}
        {% endfor %}
    </article>
    {% endfor %}
</div>
{% endblock content %}